allure-pytest~=2.13.5
allure-python-commons~=2.13.5
apipkg~=3.0.2
astor~=0.8.1
atomicwrites~=1.4.1
attrs~=23.2.0
certifi~=2024.6.2
chardet~=5.2.0
colorama~=0.4.6
configparser~=7.0.0
crayons~=0.4.0
docopt~=0.6.2
execnet~=2.1.1
idna~=3.7
iniconfig~=2.0.0
packaging~=24.1
pipreqs~=0.5.0
pluggy~=1.5.0
py~=1.11.0
pyparsing~=3.1.2
pytest~=8.2.2
pytest-ast-transformer~=1.0.3
pytest-forked~=1.6.0
pytest-html~=4.1.1
pytest-metadata~=3.1.1
pytest-soft-assertions~=0.1.2
pytest-xdist~=3.6.1
requests~=2.32.3
selenium~=4.22.0
six~=1.16.0
texttable~=1.7.0
toml~=0.10.2
urllib3~=2.2.2
yarg~=0.1.9
openpyxl~=3.1.4
behave~=1.2.6
jsonpath~=0.82.2
multipledispatch~=1.0.0
assertpy~=1.1